/* TABS */
.tabs {
    float: none;
    list-style: none;
    padding: 0;
}
.tabs:after {
    content: '';
    display: table;
    clear: both;
}
.tabs input[type=radio] {
    display:none;
}
.tabs label {
    display: block;
    float: left;
    cursor: pointer;
}
.tabs label span {
    display: none;
}
.tabs label i {
    padding: 5px;
    margin-right: 0;
}
.tab-content {
    display: none;
    width: 100%;
    float: left;
    box-sizing: border-box;
    background-color:#ffffff;
}

#tab1:checked ~ #tab-content1,
#tab2:checked ~ #tab-content2,
#tab3:checked ~ #tab-content3 {
    display: block;
}
/* FIN TABS*/

#home{
    position: relative;
    z-index: 1000;
}

#home .description{
    text-align: justify;
}

#home .logo{
    margin: 0px auto;
    display:block
}

#home .playerOnline{
    position: absolute;
    text-align: right;
}

#home label{
    text-align: center;
}